body {
  font-family: Arial, sans-serif;
  column-count: 8; 
  column-gap: 10px; 
  column-width: 200px;
  max-height: 100vh; 
  overflow-y: auto; 
  margin-top: 10px;
}

.App .note {
  width: 200px;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  break-inside: avoid-column;
}

.App .color-selector {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.App .color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.App .selected-color {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.App #add-note-btn {
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.App .notes-container .note-buttons {
  display: flex;
  justify-content: space-between;
}

.App .notes-container .editable {
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.App .notes-container .editable textarea {
  width: 100%;
  border: none;
  resize: none;
}

.App .notes-container .note-content {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
}